body {
  background-color: $white;
  font-family: 'Montserrat', sans-serif;
}

.hidden {
  display: none !important;
}

.header {
  .nav {
    align-items: center;
    background-color: $color-1;
    color: $white;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    justify-content: space-between;
    padding: 15px;

    .menu-toggle {
      cursor: pointer;
    }
  }

  ul {
    background-color: $color-1;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    transition: max-height .25s ease-out;
    width: 100%;

    &.active {
      max-height: 350px;
      padding-bottom: 12px;
    }

    .nav-item {
      border-radius: 3px;
      color: $white;
      display: block;
      margin: 10px;
      padding: 15px;
      text-align: center;

      &:nth-child(1n) {
        background-color: $color-2;
      }

      &:nth-child(2n) {
        background-color: $color-3;
      }
    }
  }
}

section {
  display: none;
  font-family: 'Merriweather', serif;
  padding: 16px 0;

  &.active {
    display: block;
  }

  h2 {
    font-size: 2rem;
    padding: 24px 0;
    text-align: center;
  }

  h3 {
    font-size: 1rem;
    text-align: center;
  }
}

.home-page {
  ul {
    .nav-item {
      background-color: $color-4;
      border-radius: 3px;
      color: $white;
      margin: 12px 16px;
      padding: 32px 12px;
      text-align: center;
    }
  }
}

.draw-names {
  text-align: center;

  button {
    background-color: $color-6;
    border-radius: 3px;
    color: $white;
    font-size: 1.5rem;
    margin: 12px 16px;
    padding: 16px 24px;
    text-align: center;
  }
}

.christmas-drawing {
  &.user {
    .users-name-selector {
      display: none;
    }
  }

  .users-name-selector {
    display: flex;
    flex-wrap: wrap;
    margin: 24px 12px;

    .user-name-option {
      align-items: center;
      background-color: $color-4;
      border-radius: 3px;
      box-sizing: border-box;
      color: $white;
      display: flex;
      justify-content: center;
      margin: 5px;
      padding: 32px 16px;
      text-align: center;
      width: calc(50% - 10px);

      h4 {
        pointer-events: none;
      }
    }
  }

  .christmas-drawing-revealer {
    display: flex;
    flex-wrap: wrap;
    padding: 24px 0;

    button {
      border-radius: 3px;
      cursor: pointer;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.5rem;
      margin: 10px;
      padding: 24px;
      width: 100%;

      &.not-me {
        background-color: $color-6;
        color: $white;
      }

      &.yes-me {
        background-color: $color-4;
        color: $white;
      }
    }
  }

  .drawn-name {
    text-align: center;

    .start-over {
      background-color: $color-6;
      border-radius: 3px;
      color: $white;
      font-size: 1rem;
      margin: 50px 0;
      padding: 12px 24px;
    }
  }
}
